.jumbotron {
	color: #ffffff;
	background-color: #1c2a48;
	font-size: 20px;
	height: 135px;
	width: 100%;
}
#jumbotron-icon{
	height: 55px;
}

#parameter-icon{
	height: 30px;
}

#article-icon{
	height: 30px;
}

#article-items{
	min-height: 50px;
}

#search-icon {
	height: 30px;
}

#trash-icon {
	height: 30px;
}

#articles {
	width: 100%;
	max-height: 45px;
}

#parameter {
	max-height: 45px;
}

#search:hover {
	cursor: pointer;
	opacity: 0.5;
}

#clear:hover {
	cursor: pointer;
	opacity: 0.5;
}